
#contenedor {
    display: grid;
    grid-gap:5px;
    grid-template-areas:
        "header"
        "nav"
        "section"
        "aside"
        "footer";
}

header {
  
    min-height:100px;
    background-color: blue;
    grid-area: header;
}

nav {

    min-height:100px;
    background-color: red;
    grid-area: nav;
}

nav ul {
    display: flex;
}

section {
 
    min-height:100px;
    background-color: green;
    grid-area: section;
}

section > header {
    background-color: green;
}

section > article {
    background-color: green;
}

section > footer {
    background-color: green;
}

aside {

    min-height:100px;
    background-color: yellow;
    grid-area: aside;
}

footer {
 
    min-height:100px;
    background-color: black;
    grid-area: footer;
}

/*MEDIA QUERIES*/
/*Adaptación para ancho variable de monitores de más de 1300px de ancho.*/
@media screen and (min-width: 1300px) {
    #contenedor {
        grid-template-columns:1fr 3fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "section aside"
            "footer  footer";
    }

    header {
        background-color: brown;
    }
}

/*Adaptación de ancho fijo de resoluciones de 900 a 1300px de ancho.*/
@media (min-width: 900px) and (max-width: 1299px) {
    #contenedor {
        grid-template-columns:1fr 3fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "section aside"
            "section aside"
            "footer  footer";
    }

    header {
        background-color: pink;
    }
}

/*Adaptación optimizada para verse en un iPad en posición vertical.*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    #contenedor {
        grid-template-columns:1fr 3fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "section aside"
            "section aside"
            "footer  footer";
    }

    header {
        background-color: pink;
    }
}

/*Adaptación optimizada para verse en un iPad en posición horizontal.*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    #contenedor {
        grid-template-columns:1fr 3fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "section aside"
            "section aside"
            "footer  footer";
    }

    header {
        background-color: pink;
    }
}

/*Adaptación optimizada para verse en un iPhone posición vertical.*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) { 
    #contenedor {
        grid-template-columns:1fr 3fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "section aside"
            "section aside"
            "footer  footer";
    }

    header {
        background-color: pink;
    }
}

/*Adaptación optimizada para verse en un iPhone posición horizontal.*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
    #contenedor {
        grid-template-columns:1fr 3fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "section aside"
            "section aside"
            "footer  footer";
    }

    header {
        background-color: pink;
    }
}